:root {
	/* add some fonts
	https://fonts.google.com/specimen/Press+Start */
	--color-primary: #2b2d42;
	--color-secondary: #8d99ae;
	--color-secondary_s30: rgba(141, 153, 174, 0.3);
	--color-accent: #d90429;
	--color-accent_s80: #ef233c;
	--black: #333;
	--gray: #666;
	--white: #fff;

	font-size: 10px;
}

body {
	background-color: var(--color-primary);
	color: var(--white);
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

a {
	color: var(--white);
}

li {
	list-style: none;
}
