---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Projects</h1>

	<h2>Presentations</h2>

	<h2>Projects</h2>
	<p>
		I'm currently working on making this section beautiful. In the meantime,
		please check out my <a
			href="https://github.com/cryan10"
			target="_blank"
			>Github account</a>
	</p>
</Layout>
