---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Projects</h1>

	<h2>Presentations</h2>
	<h3>Atomic Design</h3>
	<ul>
		<li>Embrace Pet Insurance Tech Department Lunch & Learn</li>
		<li>Presentation to Embrace Pet Insurance Marketing Team</li>
		<li>2022</li>
	</ul>
	<p></p>

	<h3>Leveraging Web Scraping for Website Migrations</h3>
	<ul>
		<li>Akron Software Craftmanship Meetup & Embrace Pet Insurance</li>
		<li>2022</li>
	</ul>
	<p>
		This presentation stemmed from a problem we needed to solve at a previous
		role. We were in the midst of a website migration, and realized the content
		in the Content Management System (CMS) was <em>exceptionally</em> messy. I'm
		talking multiple instances of the same blog post, with absolutely no clear indication
		why there were multiples and which option was the source of truth. We were anticipating
		having to write some gnarly SQL, and estimating it would take months to accomplish.
	</p>
	<p>
		But then we remembered we only needed to pull static data from the website
		(author names, dates, metadata, etc). We leveraged web scraping (via
		BeautifulSoup) to grab the data instead of relying on the messy database. A
		project estimated to take <i>months</i> ended up taking <i>a couple weeks</i
		>! &#127881;
	</p>
	<p>
		This was my first-ever presentation at a meetup. I was SO nervous and I can
		hear it all over this video. But I'm also exceptionally proud with how this
		demo went and that I put myself out there.
	</p>
	<p>
		Thanks again to the Akron Software Craftsmanship Meetup for having me! Go
		ahead and watch the recording below:
	</p>
	<iframe
		width="560"
		height="315"
		src="https://www.youtube.com/embed/c27Mk6JVctQ"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen
	></iframe>
	<!-- https://www.youtube.com/watch?v=c27Mk6JVctQ -->

	<h2>Projects</h2>
	<p>
		I'm currently working on making this section beautiful. In the meantime,
		please check out my <a
			href="https://github.com/cryan10"
			target="_blank"
			>Github account</a
		>
	</p>
</Layout>
