<header>
	<!-- TODO: add hamburger menu for mobile -->
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/my-work">My Work</a></li>
		</ul>
	</nav>
</header>

<style>
	ul {
		display: flex;
		justify-content: center;
		padding: 0;
	}

	@media screen and (min-width: 768px) {
		ul {
			justify-content: flex-end;
			margin-right: 3rem;
		}
	}

	li {
		padding: 0 1rem;
	}

	a {
		color: var(--color-secondary_s50);
		text-decoration: none;
	}

	a:hover {
		color: var(--white);
		text-decoration: underline;
		text-underline-offset: 0.8rem;
	}
</style>
