<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
</header>

<style>
	ul {
		display: flex;
		justify-content: flex-end;
		margin-right: 3rem;
	}

	li {
		padding: 0 1rem;
	}

	a {
		color: var(--color-secondary_s50);
		text-decoration: none;
	}

	a:hover {
		color: var(--white);
		text-decoration: underline;
		text-underline-offset: 0.8rem;
	}
</style>
